.custom_img{
    margin-top: 40px;
}
.form-control:focus{
border-top: none !important;
border-right: none !important;
border-left: none !important;
box-shadow: none !important;
outline: none !important;
}

.imgimgimg1{
    width:300px;
    margin-Top:100px;

}
@media screen and (max-width: 643px) {
    .imgimgimg1 {
        display: none;

    }
  }