ul {
  list-style: none;
}
li a {
  list-style: none;
  text-decoration: none;
}

.four-sides {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.four-side {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 150px;
  margin-right: 100px;
}

.footer-col h4 {
  font-size: 17px;
  margin-left: 30px;
  color: darkblue;
}
.footer-col ul li a {
  color: black;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
  font-size: 27px;
  color: #4267b2;
}

.social-links a {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
ul li a:hover {
  color: green;
}
@media (max-width: 600px) {
  .four-sides {
    font-size: 30px;
  }
}
