.Adminpage{
  background-color: lightgray;
  border:none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  
}
.Adminpage:hover{
  box-shadow: 5px 5px 5px gray;
  background-color: lightpink;
  border:2px solid lightpink;
}