

.Adminpage {
  background-color: lightgray;
  border: none;
  width: 100px;
  height: 40px;
  box-shadow: 2px 4px 17px 3px grey
}

.Adminpage:hover {
  box-shadow: 5px 5px 5px gray;
  background-color: lightpink;
  border: 2px solid lightpink;
}

.admin {
  font-size: xx-large;
  font-weight: 400px;







}

.adminpanel {

  margin: auto;
  width: 650px;
  height: 400px;
  box-shadow: 2px 4px 17px 3px grey;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .adminpanel {
    width: 360px;
  }
}

@media screen and (max-width: 768px) {
  .adminpanel {
    width: 300px;
    height: 340px;
  }
}

@media screen and (max-width: 868px) {
  .image {
    display: none;
  }
}


@media screen and (max-width: 500px) {
  .form-controls {

    width: 100px;
    display: flex;
    font-size: 10px;
    font-weight: bold;
  }
}


.form-controls {
  border: 1px solid #bbb9b9;
  outline: none;
  border-width: 0px 0px 1px 0;
  width: 170px;
}

#button {
  width: 90px;
  border-radius: 4px;
}
.admin{
  margin-left: 30px;
}