
.submitbtnuser {
  display: flex;
  justify-content: center;
}
#bTN {
  background-color: black;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  width: 70px;
  height: 40px;
}
#bTN:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#bTN:hover {

  box-shadow: 1px 2px 10px 2px rgb(61, 58, 58);
}

.userdetailtext {
  font-weight: bold;
  margin-top: -20px;
  padding-top: 8px;
}

.form-control1 {
  background-color: white;
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid lightgrey;
  border-radius: 20px;
  padding-left: 25px;
}

.form-control1:hover {
  border: solid black 1px;
}
.userDetails{
    height: 65vh;
    width: 400px;
}

.row-reg{
    width: 100%;
    margin-left: 0px;
}

.col-reg{
  width: 84%;
}

.textreg{
  background-color: #212529;
  color: aliceblue;
  height: 50px;
  width: 400px;
  margin-top: 20px;
}

.userDetails {
  box-shadow: rgba(124, 124, 235, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.5) 0px -2px 6px 0px inset;
  height: 28rem;
  margin-left: 33%;
  border-radius: 20px;
  background-image: url(../../assets/images/regimage.jpg);
  
}

@media screen and (max-width: 768px) {
  .userDetails {
    width: 50%;
    height: 55vh;
    margin: auto;
  }
  .textreg{
    background-color: #000000;
    color: aliceblue;
    height: 50px;
    width: 119%;
  }
}
@media screen and(max-width:990) {
  .userDetails {
    margin: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .userDetails {
    margin: auto;
  }
}
@media only screen and (max-width: 399px) {
  .userDetails {
    width: 90%;
  }
  .form {
    margin-right: 10px;
  }
  .offset-5 {
    font-weight: bold;
  }
}
#span{
  border: red;
}