.img22{
  /* position: relative; */
  width: 100%;
  height: auto;
  position: fixed;

}
/* 
.uploadbutton .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .uploadbutton .btn:hover {
    background-color: black;
  } */


  .container {
    position: absolute;
    width: 100%;
    max-width: 400px;
  }
  
  .container-img22 {
    width: 100vw;
    height: 733px;
    position: fixed;
  }
  
   .btnupload {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:orange;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    border: 2px solid green;
    box-shadow: 0px 0px 10px green;
  }
  
  .container .btnupload:hover {
    background-color: green;
  }

 
                                            

