.budgetdatarowschoolbgform{
display: flex;
justify-content: center;
}
.adfaslkdsjafk{
    display: none;
}
.schoolbudgetformdiv{
    margin-top: 20px !important;
    /* margin-top: 10px; */
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    text-align: center;
    padding: 20px;
}
#divrow{
    margin: 0px;
}
.schoolbudgetformdiv{
    margin-bottom: 30px;
}
