.contactformfulldiv{
    margin-top: 10px;
   border: 1px solid black;
   border-radius: 10px;
    display: flex;
    justify-content: center;
}


.contactformfulldiv{
    padding: 20px;
    background-color: rgb(223, 226, 225);
    border: none;
    box-shadow: 5px 5px 10px 3px;
    width: 60%;
    margin-left: 20%;


}


.contactformfulldiv2{
  padding: 20px;
  background-color: rgb(223, 226, 225);
  border: none;
  box-shadow: 5px 5px 10px 3px;
  width: 80%;
  margin-left: 10%;
  outline: none;
}
.contactformfulldivform{
 margin-top: 20px;
 text-align: center;
}
.textfieldnameforstyle{
    font-style: italic;
    width :100%;
    border: solid black 1px !important ;
    border-radius: 30px !important;
}

  .saveupdatecontactformbtn{
      margin-bottom: 10px;
      background-color: black !important;
      border-radius: 20px !important;
      color: #fff !important;
  }
  .saveupdatecontactformbtn:hover{
      box-shadow: 1px 5px 10px 5px rgb(61, 58, 58);
  }

  @media screen and  (max-width: 770px) {
    .contactformfulldiv{
        padding: 20px;
        background-color: rgb(223, 226, 225);
        border: none;
        box-shadow: 5px 5px 10px 3px;
        width: 60%;
        margin-left: 24%;

    }
    
  .contactformfulldiv2{
    padding: 20px;
    background-color: rgb(223, 226, 225);
    border: none;
    box-shadow: 5px 5px 10px 3px;
    width: 50%;
    margin-left: 25%;
  outline: none;

  }

  }

  @media screen and  (max-width: 580px) {
    
    
  .contactformfulldiv2{
    padding: 20px;
    background-color: rgb(223, 226, 225);
    border: none;
    box-shadow: 5px 5px 10px 3px;
    width: 100%;
    margin-left: 0%;
  outline: none;

  }

  }
