.download-table-xls-button{
   
    display: flex;
    justify-content:center;
    margin: auto;
    color: #fff;
    /* border-color: #b96b9f; */
    background: #4084dd;
    border-radius: 3px;
    height: 2rem;
    width: fit-content;
}