 .img-fluid{
    max-width: 100%;
    height: 50vh;
    background-image: url(../../assets/images/education1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    margin-bottom: 50px;
} 