 .img-fluid{
    max-width: 100%;
    height: 50vh;
    background-image: url(../../assets/images/education1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 50px;
} 

.b {
    position: absolute;
    top: 40%;
    left: 85vw;
    transform: translate(-75%,);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    border: 5px solid orange;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    width: 180px;
    height: 60px;
    font-weight: bold;
}

@media screen and (min-width: 375px) {
.btn-success{
transform: rotate(0deg) !important;
margin-bottom: 20px;
background-color: black;
position: absolute;
/* position: absolute; */
top: 18%;
left: 5vw;
transform: translate(-75%,);
-ms-transform: translate(-50%, -50%);
background-color: rgb(196, 15, 15);
color: white;
font-size: 20px;
padding: 12px 24px;
border: 5px solid orange;
cursor: pointer;
border-radius: 20px;
text-align: center;
width: 180px;
height: 60px;
font-weight: bold;
}
}

.material-icons{
    position: absolute;
    top: 40%;
    left: 85vw;
    transform: translate(-75%,);
    -ms-transform: translate(-50%, -50%);
    /* background-color: black; */
    /* color: white; */
    font-size: 20px;
    padding: 12px 24px;
    /* border: 5px solid orange; */
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    width: 70px;
    height: 70px;
    font-weight: bold;
}

@media screen and (min-width: 0px) {
.donation{
    width: 70px;
    position: absolute;
    left: 8vw;
    top: 9%;
    /* box-shadow: 1px 1px 10px gray; */
}
}
