.displayImage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  
}




.download {
  
padding-left: 20px;
  color: black;
  text-decoration: none;
}
.Button {
  margin-top: 4px;
}

.pdf {
  display: flex;
  justify-content: center;
}
.itemName {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .displayImage {
    display: inline;
  }
}
@media screen and (max-width: 400px){
  
  .download{
    
    margin-left: 80px;
  }
}
::-webkit-scrollbar {
  display: none;
}

  
  #uncontrolled-tab-example{
    text-align: center;
    color: red;
  }
