* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar-n2 {}

.row-N2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row-N1 {
  /* display: flex; */
  /* justify-content: center; */
  /* width: 40vh; */
}

.rowfirst {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-family: 'KFGQPC Uthman Taha Naskh',
    "KFGQPC_Naskh",
    'traditional arabic';
  font-weight: normal;
  text-align: center;
  direction: rtl;
}

.rowfirst:hover {
  color: #fec619;
}

.nav-item {
  font-weight: 600;
  font-style: normal;
  font-size: 15px;

}

.rowfirst {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #f0eff1 0%,
      #fcf04c 29%,
      #55fd50 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


#Main {
  width: 100%;
  background: red;
  animation: mymove 10s infinite;
}

@keyframes mymove {
  from {
    background-color: #212529;
  }

  to {
    background-color: rgb(21, 21, 78);
  }
}

#first,
#second,
#third,
#fourth,
#fifth,
#sixth,
#seven,
#eight,
#nine,
#ten {
  color: white;
}

.nav-item:hover {
  /* border-bottom: solid 1px #fec619; */
  background-color: #868586;

}

nav-item .Logout {
  background-color: white;
  border-radius: 10px;
  /* margin: auto; */
}

.aabc {
  display: flex;
  /* justify-content: end; */
  /* margin-left: -37%; */
}

.mainaabc {
  /* margin-left: 30%; */
}

.nav {

  /* margin-right: 4.5rem !important; */
}