/* * {
  box-sizing: border-box;
} */

.nav-item {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 10px;
}

#Main {
  background-color: #212529;
}

#first,
#second,
#third,
#fourth,
#fifth,
#sixth,
#seven,
#eight,
#nine,
#ten {
  color: white;
}

.nav-item:hover {
  /* box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px white; */

  /* #FF5F5F */

  background: #0D6EFD;
  border: #0D6EFD solid 2px;

  /* color: #fff; */
  /* border: 3px solid #0D6EFD;
  background-image: -webkit-linear-gradient(30deg, #0D6EFD 50%, transparent 50%);
  background-image: linear-gradient(30deg, #0D6EFD 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 700ms ease-in-out;
  transition: background 800ms ease-in-out;
  background-position: 100%;
  color: #0D6EFD; */
}

nav-item .Logout {
  background-color: white;
  border-radius: 10px;
  margin: auto;
}

.nav {

  margin-right: 4.5rem !important;
}