#Teaching {

    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}


#nonTeaching {
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;

}

#student {
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}

.row-attend {


    padding: 0 10px 0 10px;
    margin: 4px 10px 0 10px;

}