#LoginForm {
  box-shadow: 2px 4px 17px 3px grey;
  border-radius: 20px;
  height: 360px;
  width: 330px;
  margin: auto;
  background-image: url(../../assets/images/regimage.jpg);
}
.Checkbox {
  font: menu;
}

#inputs{
  border: 1px solid #bbb9b9;
    outline: none;
    border-width: 0px 0px 1px 0;
    width: 180px;
    margin-left: -43px;
    background-color: rgba(255, 255, 255, 0);
    
    
}
::placeholder{
  color: aliceblue;
}


#buttons{
  margin-left: -18px;
    width: 75px;
}
.loginheader{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -31px;
  }

.loginimge1{
  height: 100px;
    margin-top: 16px;
    width: 100px;
}
.admin1{
  margin-left: 0px;
  font-weight: bold;
}
@media screen and (max-width: 580px) {
  #LoginForm {
  }
}
@media screen and (max-width: 400px) {
  #inputs {
    width: auto;
  }
}
.Head {
  height: 40px;
  display: flex;
  justify-content: center;
  animation-name: sample;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: 700px;
}

@media screen and (max-width: 400px) {
  .Head {
    width: 300px;
    display: inline;
  
  }
}



