.container-fluid {
    background-color: white;
    height: 100%;
    overflow: auto;
    overflow: scroll;

}

.container-pnd {
    background-color: #4473c5;
    height: 50rem;

}

.dropdownss {
    width: 200px;
    height: 42px;
    border-radius: 10px;
    outline: none;
}

.pd {
    background-color: #70ad47;
    height: 60px;
    border: solid white;
    border-radius: 10px;
    width: 50%;
    font-size: 40px;
    text-align: center;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wise {
    background-color: #fec619;
    color: rgb(0, 0, 0);
    height: 50px;
    border-radius: 10px;
    width: 40%;
    font-size: 20px;
    text-align: center;
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.rows-pnd {
    display: flex;
    width: 90%;




}

.col-2 {
    display: flex;
    width: 15%;
}

.place {
    width: 70%;
    height: 30px;
    margin-top: 5px;
    outline: none;

}

.bb {
    background-color: #fec619;
    height: 40px;
    width: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

}

.h61 {
    background-color: #fec619;
    color: rgb(3, 3, 3);
    height: 40px;
    border-radius: 10px;
    width: 30%;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.wall {
    display: flex;
}

.checkbox {
    background-color: aliceblue;
    height: 100%;
    width: 40%;
    margin-left: 5px;
}

.row2 {
    display: flex;
}

.time {
    background-color: #70AD47;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 100px;
    flex-direction: column;
    /* margin-top: 20px; */
    width: 24%;
    margin-left: 60px;
}

.h51 {
    background-color: #fec619;
    color: white;
    height: 50px;
    border-radius: 10px;
    width: 30%;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abc {
    display: flex;
}

.row3 {
    display: flex;
}

.row4 {
    display: flex;
}

.row5 {
    display: flex;
}

.tr-pndtable {
    font-size: 12px;
}

.tr-pndtable2 {
    font-size: 11px;
    border: none;
    border: 1px solid;

}

.max-pndtable {
    border-collapse: collapse;
    border: 1px solid;
}

.th-pndtable {
    border: 1px solid;

}

.td-pndtable {
    border: 1px solid;

}

.td-pndtable1 {
    padding: 9px;
    border: 1px solid;
    height: 25px;
    text-align: center;
}

.th-pndtable1 {
    padding: 5px;
    border: 1px solid;
    height: 25px;
    text-align: center;
}

.databtn {
    background-color: #70AD47 !important;
    border: none !important;
    width: 10rem;
    font-weight: bold !important;
}

.form-control111 {
    border-radius: 5px;
    border: none !important;
    outline: none;
    height: 1.7rem;
    width: 10rem;
    font-size: 12px;
}

.dateandtime {
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .dropdownss {
        width: 150px;
        height: 42px;
        border-radius: 10px;
        outline: none;
    }
}



@media screen and (max-width: 500px) {
    .container-fluid {
        background-color: white;
        height: 100%;
    }

    .form-control111 {
        border-radius: 5px;
        border: none !important;
        outline: none;
        height: 1.7rem;
        width: 6rem;
        font-size: 11px;
    }

    .h61 {
        background-color: #fec619;
        color: rgb(3, 3, 3);
        height: 40px;
        border-radius: 10px;
        width: 30%;
        font-size: 11px;
        text-align: center;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .dropdownss {
        width: 100px;
        height: 42px;
        border-radius: 10px;
        outline: none;
    }

    .container {
        background-color: #4473c5;
        height: 100%;
    }

    .pd {
        background-color: #70ad47;
        height: 60px;
        border: solid white;
        border-radius: 10px;
        width: 50%;
        font-size: 40px;
        text-align: center;
        margin-left: 25%;
    }

    .wise {

        background-color: #fec619;
        color: white;
        height: 37px;
        border-radius: 10px;
        width: 40%;
        font-size: 12px;
        text-align: center;
        margin-left: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .row1 {
        display: flex;
    }

    .col-2 {
        display: flex;
        width: 15%;
    }

    .place {
        width: 50%;
        height: 30px;
        margin-top: 5px;
        font-size: 8px;
    }

    .bb {
        background-color: #fec619;
        height: 40px;
        width: 50%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;

    }



    .wall {
        display: flex;
    }

    .checkbox {
        background-color: aliceblue;
        height: 100%;
        width: 100%;
        margin-left: 5px;
        font-size: 10px;
    }

    .row2 {
        display: flex;
    }


    .time {
        background-color: #70AD47;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        height: 100px;
        flex-direction: column;
        margin-top: 20px;
        width: 24%;
        margin-left: 60px;
    }


    .abc {
        display: flex;
    }

    .row3 {
        display: flex;
    }

    .row4 {
        display: flex;
    }

    .row5 {
        display: flex;
    }





}


@media screen and (max-width: 435px) {
    .container-fluid {
        background-color: white;
        height: 100%;
    }

    .form-control111 {
        border-radius: 5px;
        border: none !important;
        outline: none;
        height: 1.7rem;
        width: 5rem;
        font-size: 6px;
    }

    .dropdownss {
        width: 70px;
        height: 32px;
        border-radius: 10px;
        outline: none;
    }

    .container {
        background-color: #4473c5;
        height: 100%;
    }

    .pd {
        background-color: #70ad47;
        height: 60px;
        border: solid white;
        border-radius: 10px;
        width: 50%;
        font-size: 40px;
        text-align: center;
        margin-left: 25%;
    }

    .wise {

        background-color: #fec619;
        color: white;
        height: 37px;
        border-radius: 10px;
        width: 40%;
        font-size: 12px;
        text-align: center;
        margin-left: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .row1 {
        display: flex;
    }

    .col-2 {
        display: flex;
        width: 15%;
    }

    .place {
        width: 50%;
        height: 30px;
        margin-top: 5px;
        font-size: 8px;
    }

    .bb {
        background-color: #fec619;
        height: 40px;
        width: 50%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;

    }


    .wall {
        display: flex;
    }

    .checkbox {
        background-color: aliceblue;
        height: 100%;
        width: 63%;
        margin-left: 5px;
        font-size: 9px;
    }

    .row2 {
        display: flex;
    }

    .time {
        background-color: #70AD47;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        height: 100px;
        flex-direction: column;
        margin-top: 20px;
        width: 24%;
        margin-left: 40px;
    }



    .h61 {
        background-color: #fec619;
        color: rgb(3, 3, 3);
        height: 30px;
        border-radius: 10px;
        width: 80px;
        font-size: 8px;
        text-align: center;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .abc {
        display: flex;
    }

    .row3 {
        display: flex;
    }

    .row4 {
        display: flex;
    }

    .row5 {
        display: flex;
    }

}