.slider {
    margin-top: 0px;
    position: relative;
    height: 450px;

}

.d-block {
    position: relative;
    height: 450px;

}

.buttonst {

    margin-top: 30px !important;
}

.cardsfulldiv {

    display: flex;
    justify-content: center;
}

#cardsfulldivrow {
    width: 103%;
    background-image: url(../../assets/images/apca.jpg);
    background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

}

.carddivslider {
    margin-top: 30px !important;
    justify-content: center;


}

.btngroupslider {
    width: 200px;
    height: 100px;
}

.cardtextsliderdiv {
    font-size: 12px;
    color: black;
    font-weight: 600;
    font-size: medium;
}

.quaidquotes {
    color: black;
    margin-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px !important;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;

}


.anno-header {
    color: black;

    font-size: 18px;
    border: solid #0D6EFD;
    padding: 10px;
    border-left: 5px solid #0D6EFD;
    border-radius: 10px;
    width: 23rem;
}


.anno {
    border: solid #0D6EFD;
    min-height: 300px;
    padding: 11px;
    border-radius: 5px;
    width: 23rem;
}

@media only screen and (max-width: 1210px) {

    .anno {
        border: solid #0D6EFD;
        min-height: 300px;
        border-radius: 5px;
        width: 19rem;
        margin-left: 50px;
    }

    .anno-header {
        color: black;
        font-size: 18px;
        border: solid #0D6EFD;
        padding: 10px;
        border-left: 5px solid #0D6EFD;
        border-radius: 10px;
        width: 19rem;
        margin-left: 50px;
    }

}

@media only screen and (max-width: 970px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin-left: 97px;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin-left: 30%;
    }

    .anno {
        border: solid #0D6EFD;
        min-height: 300px;
        border-radius: 5px;
        width: 18rem;
        margin-left: 58%;
    }

    .anno-header {
        color: black;
        font-size: 18px;
        border: solid #0D6EFD;
        padding: 10px;
        border-left: 5px solid #0D6EFD;
        border-radius: 10px;
        width: 18rem;
        margin-left: 58%;
    }
}
@media only screen and (max-width: 580px) {

    .anno {
        border: solid #0D6EFD;
        min-height: 300px;
        border-radius: 5px;
        width: 18rem;
        margin-left: 28%;
    }

    .anno-header {
        color: black;
        font-size: 18px;
        border: solid #0D6EFD;
        padding: 10px;
        border-left: 5px solid #0D6EFD;
        border-radius: 10px;
        width: 18rem;
        margin-left: 28%;
    }

}

@media only screen and (max-width: 500px) {

        


    .anno {
        border: solid #0D6EFD;
        min-height: 300px;
        border-radius: 5px;
        width: 17rem;
        margin-left: 20%;
    }

    .anno-header {
        color: black;
        font-size: 18px;
        border: solid #0D6EFD;
        padding: 10px;
        border-left: 5px solid #0D6EFD;
        border-radius: 10px;
        width: 17rem;
        margin-left: 20%;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin-left: 21%;
    }

}


.buttondivinfo {


    display: flex;
    justify-content: center;
}


.Anchor {
    text-decoration: none;

}

ul {
    list-style-type: none;
}